<!DOCTYPE html>
<html ng-app="InterpreterApp">
  <head>
    <title>Demo-Interface</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
    <script src="js/index.js"></script>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>

    <script>
      angular.module("InterpreterApp", []).controller("MainCtrl", function ($scope) {
        $scope.processorState = {
          register: registers,
          flags: flags
        };
        $scope.enteredCommand = "";
        $scope.executeCommand = function() {
          var commandString = $scope.enteredCommand;
          var command;
          try {
            command = Command(commandString);
          } catch (e) {
            if (!e instanceof ParseException) {
              throw e;
            }

            alert("Error parsing: " + e.message);
            console.log(e);
          }

          try {
            command();
          } catch (e) {
            if (!e instanceof RuntimeException) {
              throw e;
            }

            alert("Error at runtime: " + e.message);
            console.log(e)
          }
        }
        $scope.normalizeInput = function(register) {
          $scope.processorState.register[register] = Math.min(4294967295, Math.max(0, $scope.processorState.register[register]))
        }

        $scope.assembleOrDestroy = function() {
          if ($scope.assembly) {
            $scope.destroyAssembled();
          } else {
            $scope.assembleTextBox();
          }
        }

        $scope.assembleTextBox = function() {
          var assembler = $scope.assemblerTextBox.split("\n");
          try {
            $scope.assembly = new Assembly(assembler);
          } catch (e) {
            if (!e instanceof ParseException) {
              throw e;
            }

            alert("Error parsing: " + e.message);
          }
        }
        $scope.destroyAssembled = function() {
          $scope.assembly = undefined;
        }

        $scope.next = function() {
          try {
            $scope.assembly.step();
          } catch (e) {
            if (!e instanceof RuntimeException) {
              throw e;
            }
            alert("Error at runtime: " + e.message);
          }
        }
      }).directive('processorState', function() {
        return {
          templateUrl: "processorStateDirectiveTemplate.html"
        };

      });;
    </script>

    <script type="text/ng-template" id="processorStateDirectiveTemplate.html">
      Registers:
      <div ng-repeat="register in processorState.register track by $index">
        R{{$index}}: <input type="number" ng-model="processorState.register[$index]" ng-change="normalizeInput($index)">
      </div>
      <br><br>
      Carry <input type="checkbox" ng-model="processorState.flags.CARRY">
      Zero <input type="checkbox" ng-model="processorState.flags.ZERO">
      Negative <input type="checkbox" ng-model="processorState.flags.NEGATIVE">
      Overflow <input type="checkbox" ng-model="processorState.flags.OVERFLOW">
      Parity <input type="checkbox" ng-model="processorState.flags.PARITY">
    </script>
  </head>
  <body ng-controller="MainCtrl">
    <processor-state></processor-state>
    <form ng-submit="executeCommand()">
      <input type="text" ng-model="enteredCommand">
      <input type="submit" value="Ausführen">
    </form>

    <form ng-submit="assembleOrDestroy()">
      <textarea ng-model="assemblerTextBox" ng-disabled="assembly" rows="8" cols="80"></textarea>
      <input type="submit" value="{{assembly ? 'Destroy' : 'Assemble'}}">
    </form>

    <button ng-click="next()" ng-show="assembly">Next Step</button>
  </body>
</html>
