<!DOCTYPE html>
<html ng-app="InterpreterApp">
  <head>
    <title>Demo-Interface</title>

    <script src="vendor/codemirror.js"></script>
    <link rel="stylesheet" href="vendor/codemirror.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!-- this is Angular 1 -->
    <script src="vendor/angular.js"></script>
    <script src="vendor/scrollglue.js"></script>
    <script src="lib/interpreter.js"></script>
    <style>
		* {
			margin: 0;
			padding: 0;
		}
    </style>

    <script>
    "use strict";
		angular.module("InterpreterApp", ['luegg.directives']).filter('range', function() {
      return function(n) {
        var res = [];
        for (var i = 0; i < n; i++) {
          res.push(i);
        }
        return res;
      };
    }).controller("MainCtrl", function ($scope, $timeout) {
      // if we execute the CodeMirror initializationat controller time, we get problems with AngularJS compiler.
      // Do it later.
      $timeout(function() {
				var editor = CodeMirror(function(editorTag) {
					document.querySelector("#asm-input").insertBefore(editorTag, document.querySelector("#button-container"))
				}, {
					lineNumbers: true,
					gutters: ["CodeMirror-linenumbers", "breakpoints"]
				});
				editor.setOption("extraKeys", {
					"Ctrl-S": $scope.$apply.bind($scope, $scope.saveFile),
					"Ctrl-O": $scope.$apply.bind($scope, $scope.loadFile)
				});
				editor.on("changes", function() {
					console.log("Editor content changed, reloading model");
					$scope.$apply(function() {
						$scope.assemblerTextBox = editor.getValue();
					});
				});
        var breakpoints = {};
				$scope.isBreakpointOnCommand = function(commandIndex) {
					return !!breakpoints[commandIndex];
				}
				function makeMarker() {
					var marker = document.createElement("div");
					marker.style.color = "#99e";
					marker.innerHTML = "&#x25CF;";
					return marker;
				}
				$scope.$watch("processorState.register[15]", function(newVal, oldVal) {
          if (!$scope.assembly) {
            // We don't have an assembled program currently. Therefore, marking the current line number is pointless.
            return;
          }
          var lineCount = editor.lineCount();
					if (Number.isInteger(oldVal) && 0 <= oldVal && $scope.assembly.getLineNumber(oldVal) < lineCount) {
						editor.removeLineClass($scope.assembly.getLineNumber(oldVal), "background", "current-line-highlight");
					}
					if (Number.isInteger(newVal) && 0 <= newVal && $scope.assembly.getLineNumber(newVal) < lineCount) {
            console.log(oldVal, newVal, $scope.assembly.getLineNumber(newVal));
						editor.addLineClass($scope.assembly.getLineNumber(newVal), "background", "current-line-highlight");
					}
				});
				$scope.$watch("assembly", function(newVal, oldVal) {
					if (newVal) {
						editor.setOption("readOnly", true);
						angular.element(editor.getWrapperElement()).addClass("read-only");
						editor.addLineClass(newVal.getLineNumber($scope.processorState.register[15]), "background", "current-line-highlight");
					} else if (oldVal) {
						editor.setOption("readOnly", false);
						angular.element(editor.getWrapperElement()).removeClass("read-only");
						editor.removeLineClass(oldVal.getLineNumber($scope.processorState.register[15]), "background", "current-line-highlight");
            breakpoints = {};
            for (var i = 0; i < editor.lineCount(); i++) {
    					editor.setGutterMarker(i, "breakpoints", null);
            }
					}
				});
				editor.on("gutterClick", function(cm, n) {
          n = $scope.assembly.getInfoForLine(n);
					console.log(n);
					var info = cm.lineInfo(n.line);
					if ($scope.isBreakpointOnCommand(n.command)) {
            breakpoints[n.command] = false;
						cm.setGutterMarker(n.line, "breakpoints", null);
					} else {
            breakpoints[n.command] = true;
						cm.setGutterMarker(n.line, "breakpoints", makeMarker());
					}
				});
        $scope.setEditorContents = function(content) {
          if (editor.getValue().trim() == "" || confirm("Are you sure you want to continue? Your present code will be overwritten.")) {
            editor.setValue(content);
          }
        }	
				$scope.getEditorContents = function() {
					var blob = "";
					editor.eachLine( function(line) {
						blob += line.text;
						blob += "\r\n";
					});
					return blob;
				}
			}, 0);
			

			$scope.processorState = {
        register: registers,
        flags: flags
      };
      $scope.normalizeInput = function(register) {
        $scope.processorState.register[register] = parseInt($scope.processorState.register[register]);
        $scope.processorState.register[register] = isNaN($scope.processorState.register[register]) ? 0 : $scope.processorState.register[register];
        $scope.processorState.register[register] = Math.min(4294967295, Math.max(0, $scope.processorState.register[register]))
      }

      $scope.assembleOrDestroy = function() {
				if ($scope.assembly) {
					$scope.destroyAssembled();
				} else {
					$scope.assembleTextBox();
				}
      }

			// function to load the contents of a file from the filesystem
			$scope.loadFile = function() {
				// TODO: Implement File Loader
				//alert("Load File");	
				document.querySelector('#fileButton').click();
			};
			$scope.saveFile = function() {
				var filename = prompt("Please enter the file name","filename.arm");
				if (filename != null) {
					$scope.download(filename,$scope.getEditorContents());
				}
			}
			document.getElementById('fileButton').addEventListener('change', function(evt) {
				var files = evt.target.files;

				var file = files[0];
        // for reference: http://stackoverflow.com/a/12900504/4674154
        var fileExtension = file.name.substr((~-file.name.lastIndexOf(".") >>> 0) + 2);
        if (["","arm","asm"].indexOf(fileExtension) >= 0 || confirm(fileExtension + " is not a usual assembler file extension. Continue?")) {
          var reader = new FileReader();
  				reader.onloadend = function() {
            if (reader.result) {
    					$scope.setEditorContents(reader.result);
            } else {
              // this API is experimental... Fall back to less helpful error message if we can't get the error string.
              var errorString = (reader.error && reader.error.name) ? ("Error reading file: " + reader.error.name) : "Error reading file";
              alert(errorString);
            }
            // reset input so that selecting the same file again works
            document.getElementById('fileButton').value = "";
  				};
  			  reader.readAsText(file);
        }
			}, false);
			$scope.download = function(filename, text) {
				var element = document.createElement('a');
				console.log(text);
				// TODO: encoding makes us lose linebreaks --> change encoded character?
				element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
				element.setAttribute('download', filename);

				element.style.display = 'none';
				document.body.appendChild(element);

				element.click();

				document.body.removeChild(element);
			}

      $scope.consoleContent = "";

      $scope.assembleTextBox = function() {
				var assembler = $scope.assemblerTextBox.split("\n");
				for (var i = 0; i< assembler.length; i++) {
					assembler[i] = assembler[i].split("@")[0];
				}
        try {
          $scope.assembly = new Assembly(assembler, $scope.isBreakpointOnCommand, function(text) {
            $scope.consoleContent += text + "\n";
          });
          $scope.resetState();
        } catch (e) {
          if (!e instanceof ParseException) {
						throw e;
					}
          alert("Error parsing: " + e.message);
          console.log(e);
        }
      }

      $scope.destroyAssembled = function() {
        $scope.assembly = undefined;
				$scope.resetState();
      }

			$scope.resetState = function() {
        if ($scope.assembly) {
          $scope.assembly.resetState();
        } else {
      		for (i = 0; i < 16; i++) {
      			$scope.processorState.register[i] 	= 0;
      		}
          $scope.processorState.register[13]    = 1000000;
      		$scope.processorState.flags.CARRY 		= false;
      		$scope.processorState.flags.ZERO 			= false;
      		$scope.processorState.flags.NEGATIVE 	= false;
      		$scope.processorState.flags.OVERFLOW 	= false;
        }
    	}

      $scope.next = function() {
				try {
					$scope.assembly.step();
				} catch (e) {
					if (!e instanceof RuntimeException) {
						throw e;
          }
console.log(e.stack);
					alert("Error at runtime: " + e.message);
        }
      }

      $scope.run = function() {
        try {
          var showAbortCallback = $timeout(function() {
            // only show after 200 ms
            $scope.abortRunCallback.showAbort = true;
          }, 200);
          var abortCallback = $scope.assembly.run(function() {
            $scope.$apply(function() {
              $timeout.cancel(showAbortCallback);
              $scope.abortRunCallback = undefined;
            });
          }, $scope.$digest.bind($scope)); // $digest changes after every step
          $scope.abortRunCallback = function() {
            abortCallback();
            $scope.abortRunCallback = undefined;
          }
        } catch (e) {
          if (!e instanceof RuntimeException) {
            throw e;
          }
console.log(e.stack);
          alert("Error at runtime: " + e.message);
        }
      }

      $scope.undoLastStep = function() {
        undoLastStep();
      }

      $scope.hex2Dec = function(hex) {
        return parseInt(hex, 16);
      }

      $scope.dec2Hex = function(dec) {
        return dec.toString(16);
      }

      $scope.dec2Hex2 = function(dec) {
        var returner = $scope.dec2Hex(dec);
        if (returner.length < 2) {
          returner = "0" + returner;
        }
        return returner;
      }

      $scope.dec2Chr = function(dec) {
        return (32 <= dec && dec <= 126) ? String.fromCharCode(dec) : ".";
      }

      $scope.dec2Bin = function(dec) {
        var returner = "";
        for (var i = 7; i >= 0; i--) {
          returner += Math.floor(dec % Math.pow(2, i + 1) / Math.pow(2, i));
        }
        return returner;
      }

      /* Returns which RAM page a given address belongs to. Really easy with
       * bitshifting, but angular expressions don't support those, so we do it here.
       */
      $scope.pagify = function(address) {
        return address >>> 8;
      }

      $scope.ramModal = {};

      $scope.ramModal.showRamPage = 0;

      $scope.ramModal.showRamPageHexWrapper = function(val) {
        if (arguments.length) {
          $scope.ramModal.showRamPage = ($scope.hex2Dec(val) || 0);
        }
        return $scope.dec2Hex($scope.ramModal.showRamPage);
      }

      $scope.registerHexWrapper = function(register) {
        return function(val) {
          //console.log("Register", register, val)
          if (arguments.length) {
            $scope.processorState.register[register] = (Math.min(MAX_INTEGER - 1, $scope.hex2Dec(val)) || 0);
          }
          return $scope.dec2Hex($scope.processorState.register[register]);
        }
      }

      $scope.ramAt = function(index) {
        return memory[index];
      }
    }).directive('processorState', function() {
      return {
        templateUrl: "processorStateDirectiveTemplate.html"
      };
    });
    </script>

    <script type="text/ng-template" id="processorStateDirectiveTemplate.html">
      <h2>Registers</h2>
			<table class="register-table" id="registers">
        <tr ng-repeat="register in 13 | range" title="R{{register}}">
          <td>R{{register}}</td><td>0x<input type="text" size="8" ng-model="registerHexWrapper(register)" ng-model-options="{getterSetter:true}" ng-blur="normalizeInput(register)"></td>
        </tr>
				<tr title="R13 - Stack Pointer">
					<td>SP</td><td>0x<input type="text" size="8" ng-model="registerHexWrapper(13)" ng-model-options="{getterSetter:true}" ng-blur="normalizeInput(register)"></td>
				</tr>
				<tr title="R14 - Link Register">
					<td>LR</td><td>0x<input type="text" size="8" ng-model="registerHexWrapper(14)" ng-model-options="{getterSetter:true}" ng-blur="normalizeInput(register)"></td>
				</tr>
				<tr title="R15 - Program Counter">
					<td>PC</td><td>0x<input type="text" size="8" ng-model="registerHexWrapper(15)" ng-model-options="{getterSetter:true}" ng-blur="normalizeInput(register)"></td>
				</tr>
      </table>
      <h2>Flags</h2>
      <table class="register-table" id="flags">
				<tr>
					<td title="Negative" width="20%"> N </td>
					<td title="Zero" width="20%"> Z </td>
					<td title="Carry" width="20%"> C </td>
					<td title="Overflow" width="20%"> V </td>
				</tr>
				<tr>
					<td><input type="checkbox" ng-model="processorState.flags.NEGATIVE"></td>
					<td><input type="checkbox" ng-model="processorState.flags.ZERO"></td>
					<td><input type="checkbox" ng-model="processorState.flags.CARRY"></td>
					<td><input type="checkbox" ng-model="processorState.flags.OVERFLOW"></td>
				</tr>
      </table>
      <h2>Memory</h2>
      &nbsp;<a href="" ng-click="ramModal.show = true">Show</a>
    </script>
  </head>

	<body ng-controller="MainCtrl">
    <div class="overlay" ng-click="abortRunCallback()" ng-show="abortRunCallback &amp;&amp; abortRunCallback.showAbort">
      Abort run
    </div>
    <div id="ramModal" class="overlay" ng-click="ramModal.show = false" ng-show="ramModal.show">
      <div ng-click="$event.stopPropagation()">
        <p><button ng-click="ramModal.showRamPage = ramModal.showRamPage - 1" ng-active="ramModal.showRamPage">&#x2190;</button> Zeige RAM von <input type="text" ng-model="ramModal.showRamPageHexWrapper" ng-model-options="{getterSetter:true}">00 bis {{ramModal.showRamPage}}FF <button ng-click="ramModal.showRamPage = ramModal.showRamPage + 1">&#x2192;</button></p>
        <a href="" ng-click="ramModal.showRamPage = pagify(processorState.register[13])">Gehe zu Stack</a>
        <table>
          <tr ng-repeat="i in 16 | range">
            <td class="index">{{dec2Hex(ramModal.showRamPage * 256 + i * 16)}}</td>
            <td ng-repeat="j in 16 | range" ng-style="{'font-weight': processorState.register[13] == ramModal.showRamPage * 256 + i * 16 + j ? 700 : 500}" title="Decimal {{ramAt(ramModal.showRamPage * 256 + i * 16 + j)}} &#10;Binary {{dec2Bin(ramAt(ramModal.showRamPage * 256 + i * 16 + j))}}">{{dec2Hex2(ramAt(ramModal.showRamPage * 256 + i * 16 + j))}}</td>
            <td ng-repeat="j in 16 | range" ng-style="{'font-weight': processorState.register[13] == ramModal.showRamPage * 256 + i * 16 + j ? 700 : 500}">{{dec2Chr(ramAt(ramModal.showRamPage * 256 + i * 16 + j))}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div id="header">ARM-Interpreter</div>
    <form id="asm-input">
      <input type="file" name="fileButton" id="fileButton" accept=".arm,.asm" style="display: none;">
			<div id="button-container">
			  <div id="file-interaction-container">
					<button ng-click="saveFile()">Save</button>
					<button ng-click="loadFile()" ng-disabled="assembly">Load</button>
				</div>
				<div id="assemble-container">
					<button id="assembleSubmit" ng-click="assembleOrDestroy()" type="submit" ng-disabled="abortRunCallback">{{assembly ? 'Edit' : 'Assemble'}}</button>
				</div>
				<div id="controls-container">
					<button ng-click="resetState()" ng-disabled="assembly.isBegin()">&#x21e4;</button>
					<button ng-click="undoLastStep()" ng-disabled="assembly.isBegin()">&#x2190;</button>
					<button ng-click="next()" class="stepForward" ng-disabled="assembly.isEnd()">&#x2192;</button>
					<button ng-click="run()" class="stepForward" ng-disabled="assembly.isEnd()">&#x21e5;</button>
  				<div class="overlay" ng-hide="assembly">Press Assemble before running</div>
  				<div class="overlay" ng-show="abortRunCallback">&nbsp;</div>
				</div>
				</div>
			</div>
		</form>
    <div id="console" scroll-glue>{{consoleContent}}<span class="cursor">&nbsp;</span></div>
    <processor-state></processor-state>
  </body>
</html>
