* {
	box-sizing:border-box;
}

html {
	font-size:20px;
}

#header, #asm-input, #console, #register-overview, #controls {
	position:absolute;
}

#header {
	top:0;
	height:5em;
	left:0;
	right:0;
background-color:#00f;
}

#asm-input {
	top:5em;
	bottom:5em;
	left:0;
	width:80%;
background-color:#0f0;
}

#console {
	height:5em;
	bottom:0;
	left:0;
	width:80%;
background-color:#f00;
}

#register-overview {
	top:5em;
	bottom:2em;
	width:20%;
	right:0;
background-color:#ff0;
}

#controls {
	height:2em;
	bottom:0;
	width:20%;
	right:0;
background-color:#f0f;
}